if products.length === 0
    div(class="alert alert-warning", role="alert")
        h3 Not found products.
else
    div(class="container col-3")
        h3 Products
        table(class="table table-dark align-middle")
            thead
                tr
                    th(scope="col") ID
                    th(scope="col") Title
                    th(scope="col") Price
                    th(scope="col") Photo 
            tbody 
                each product in products
                    tr
                        th(scope="row")= product.id
                        td= product.title
                        td= product.price
                        td
                            img(src=product.photo, alt=product.title)
