if products.length === 0
    div(class="alert alert-warning", role="alert")
        h3 Add a new product
else
    div(class="container col-3")
        h3 Products
         each product in products
            main.container.mt-5
                .card.mb-3
                img.card-img-top.w-25.mx-auto(src=`${product.photo}`, alt=`${product.title}`)
                hr
                .card-body.text-center
                    h1#title.card-title #{product.title}
                    p#description.card-text
                    | #{product.description}
                    p.card-text
                    small#price.text-muted $#{product.price}
                    p.fs-6 Day:#{product.timestamp}
                a.btn.btn-dark.w-25(href=`products/${product.id}`) Detail